{
  "openapi": "3.0.3",
  "info": {
    "title": "IoT Connectivity Management Platform API",
    "description": "Core API for managing IoT SIM lifecycles, billing, and real-time connectivity diagnostics. Designed for MNOs, MVNOs, and Enterprise customers.\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@iot-cmp.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iot-cmp.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox-api.iot-cmp.com/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token issuance and auth helpers"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription lifecycle and operations"
    },
    {
      "name": "SIMs",
      "description": "SIM search, details, plans, and subscriptions"
    },
    {
      "name": "Diagnostics",
      "description": "Connectivity and location diagnostics"
    },
    {
      "name": "Alerts",
      "description": "Monitoring alerts and notifications"
    },
    {
      "name": "Events",
      "description": "Event query and history"
    },
    {
      "name": "Billing",
      "description": "Bills and exports"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management and deliveries"
    },
    {
      "name": "Admin",
      "description": "Internal admin endpoints"
    },
    {
      "name": "Jobs",
      "description": "Job status tracking"
    },
    {
      "name": "Packages",
      "description": "Package catalog and versions"
    },
    {
      "name": "PricePlans",
      "description": "Price plan catalog and versions"
    },
    {
      "name": "NetworkProfiles",
      "description": "APN and roaming profile management"
    },
    {
      "name": "Resellers",
      "description": "Reseller management"
    },
    {
      "name": "Enterprises",
      "description": "Enterprise tenant management"
    },
    {
      "name": "Departments",
      "description": "Department management within enterprises"
    },
    {
      "name": "Suppliers",
      "description": "Connectivity supplier management"
    },
    {
      "name": "Reconciliation",
      "description": "Upstream reconciliation runs and mismatch analysis"
    },
    {
      "name": "Users",
      "description": "Tenant user management"
    },
    {
      "name": "AuditLogs",
      "description": "Audit log access for tenant operations"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "AdminApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Admin key for internal endpoints (same header name, different value)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "RESOURCE_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "example": "The requested SIM card with ICCID 898600... was not found."
          },
          "traceId": {
            "type": "string",
            "example": "req_123456789"
          }
        }
      },
      "ResellerBrandingConfig": {
        "type": "object",
        "properties": {
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "primaryColor": {
            "type": "string",
            "nullable": true
          },
          "customDomain": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Reseller": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "currency",
          "contactEmail"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          }
        }
      },
      "ResellerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          }
        }
      },
      "ResellerUpdateResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reseller"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "ResellerStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ResellerStatusChangeResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Enterprise": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "autoSuspendEnabled": {
            "type": "boolean"
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnterpriseCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "contactEmail"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 200
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "autoSuspendEnabled": {
            "type": "boolean"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EnterpriseListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Enterprise"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "EnterpriseStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "EnterpriseStatusChangeResponse": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "string",
            "format": "uuid"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DepartmentCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          }
        }
      },
      "DepartmentListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Operator": {
        "type": "object",
        "properties": {
          "operatorId": {
            "type": "string",
            "format": "uuid"
          },
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "OperatorCreateRequest": {
        "type": "object",
        "required": [
          "mcc",
          "mnc",
          "name"
        ],
        "properties": {
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gsmaOverride": {
            "type": "boolean"
          }
        },
        "example": {
          "mcc": "460",
          "mnc": "01",
          "name": "China Unicom",
          "gsmaOverride": false
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "operatorIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        }
      },
      "SupplierCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "operatorIds"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "operatorIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "name": "Global IoT Supplier",
          "status": "ACTIVE",
          "operatorIds": [
            "7f0aa3c1-0c2a-4a8c-9a4b-7d6a7bbf9a1d"
          ]
        }
      },
      "SupplierUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          }
        }
      },
      "SupplierUpdateResponse": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupplierListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Supplier"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "SupplierStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "example": {
          "status": "SUSPENDED",
          "reason": "Carrier compliance review"
        }
      },
      "SupplierStatusChangeResponse": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TenantUser": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "departmentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerUserCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "displayName",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "reseller_admin",
              "reseller_sales_director",
              "reseller_sales",
              "reseller_finance"
            ]
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "email": "sales.director@reseller.com",
          "displayName": "Reseller Sales Director",
          "role": "reseller_sales_director",
          "assignedEnterpriseIds": [
            "2c6b8f18-2dbf-4e7f-8bc7-96b81b48279b"
          ]
        }
      },
      "EnterpriseUserCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "displayName",
          "role"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "customer_admin",
              "customer_ops"
            ]
          },
          "departmentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "example": {
          "email": "ops@enterprise.com",
          "displayName": "Enterprise Ops",
          "role": "customer_ops",
          "departmentId": "d9eb2b8b-9b55-4030-9d2a-2b7bbd3dd1c2"
        }
      },
      "TenantUserListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TenantUser"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AuditLogListItem": {
        "type": "object",
        "properties": {
          "logId": {
            "type": "string",
            "format": "uuid"
          },
          "actor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "actorRole": {
            "type": "string",
            "nullable": true
          },
          "tenantScope": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "before": {
            "type": "object",
            "nullable": true
          },
          "after": {
            "type": "object",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "sourceIp": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AuditLogListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogListItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "format": "uuid"
          },
          "alertType": {
            "type": "string",
            "enum": [
              "POOL_USAGE_HIGH",
              "OUT_OF_PROFILE_SURGE",
              "SILENT_SIM",
              "UNEXPECTED_ROAMING",
              "CDR_DELAY",
              "UPSTREAM_DISCONNECT"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "ACKED",
              "RESOLVED",
              "SUPPRESSED"
            ]
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "simId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "iccid": {
            "type": "string",
            "nullable": true
          },
          "threshold": {
            "type": "number",
            "nullable": true
          },
          "currentValue": {
            "type": "number",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "windowStart": {
            "type": "string",
            "format": "date-time"
          },
          "windowEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acknowledgedBy": {
            "type": "string",
            "nullable": true
          },
          "suppressedUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AlertSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "bySeverity": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "byType": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "AlertTrend": {
        "type": "object",
        "properties": {
          "buckets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string",
                  "format": "date-time"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UsageTrendReport": {
        "type": "object",
        "properties": {
          "granularity": {
            "type": "string",
            "enum": [
              "day",
              "month"
            ]
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string"
                },
                "totalKb": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "TopSimsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "iccid": {
                  "type": "string"
                },
                "totalKb": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "AnomalySimsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "simId": {
                  "type": "string"
                },
                "iccid": {
                  "type": "string",
                  "nullable": true
                },
                "alertCount": {
                  "type": "integer"
                },
                "latestAlertType": {
                  "type": "string",
                  "nullable": true
                },
                "latestSeverity": {
                  "type": "string",
                  "nullable": true
                },
                "latestStatus": {
                  "type": "string",
                  "nullable": true
                },
                "lastSeenAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "DeactivationReasonsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AuthTokenRequest": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret"
        ],
        "properties": {
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          }
        }
      },
      "AuthUser": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "roleScope": {
            "type": "string"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "AuthLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthLoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        }
      },
      "AuthRefreshRequest": {
        "type": "object",
        "required": [
          "refreshToken"
        ],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AuthRefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        }
      },
      "AlertsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "ShareLinkListItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "description": "Resolved short link URL"
          }
        }
      },
      "ShareLinkListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShareLinkListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ShareLinkInvalidateResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "INVALIDATED"
            ]
          }
        }
      },
      "ShareLinkDeleteResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "ShareLinkCreateRequest": {
        "type": "object",
        "required": [
          "kind",
          "params"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "packages",
              "packageVersions",
              "bills"
            ]
          },
          "params": {
            "type": "object"
          }
        }
      },
      "ShareLinkCreateResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ShareLinkParamsResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "packages",
              "packageVersions",
              "bills"
            ]
          },
          "params": {
            "type": "object"
          }
        }
      },
      "EventListItem": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "jobId": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "jobId": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "WebhookSubscriptionCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "secret",
          "eventTypes"
        ],
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WebhookSubscriptionUpdateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WebhookSubscriptionResponse": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookSubscriptionListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookSubscriptionResponse"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WebhookSubscriptionDeleteResponse": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "WebhookDeliveryListItem": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "integer"
          },
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "responseCode": {
            "type": "integer",
            "nullable": true
          },
          "responseBody": {
            "type": "string",
            "nullable": true
          },
          "nextRetryAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDeliveryListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDeliveryListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WebhookRetryResponse": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AuditLogItem": {
        "type": "object",
        "properties": {
          "auditId": {
            "type": "integer"
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "actorRole": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "sourceIp": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdminAuditLogListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AuditLogDetailResponse": {
        "type": "object",
        "properties": {
          "auditId": {
            "type": "string"
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "actorRole": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "sourceIp": {
            "type": "string",
            "nullable": true
          },
          "afterData": {
            "type": "object"
          }
        }
      },
      "JobProgress": {
        "type": "object",
        "properties": {
          "processed": {
            "type": "integer",
            "format": "int64"
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "JobListItem": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/JobProgress"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "JobListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "JobDetailResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/JobProgress"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "ResetConnectionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "example": "Reset command sent successfully."
          }
        }
      },
      "SimLocation": {
        "type": "object",
        "properties": {
          "visitedMccMnc": {
            "type": "string",
            "example": "234-15"
          },
          "country": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SimLocationHistoryItem": {
        "type": "object",
        "properties": {
          "visitedMccMnc": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SimLocationHistoryResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SimLocationHistoryItem"
        }
      },
      "ReadyResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "BillFileLinksResponse": {
        "type": "object",
        "properties": {
          "pdfUrl": {
            "type": "string",
            "nullable": true
          },
          "csvUrl": {
            "type": "string"
          }
        }
      },
      "SimStatusUpdateResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "JobCancelResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CANCELLED"
            ]
          }
        }
      },
      "SimPlanChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SimSubscriptionListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Subscription"
        }
      },
      "SimUsageRecordListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/DataUsageRecord"
        }
      },
      "AdminApiClientListItem": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "rotatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AdminApiClientListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminApiClientListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AdminApiClientRotateRequest": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "AdminApiClientRotateResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "AdminApiClientStatusResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AdminSimActionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "AdminSimSeedUsageRequest": {
        "type": "object",
        "properties": {
          "usageDay": {
            "type": "string",
            "description": "ISO date YYYY-MM-DD"
          },
          "visitedMccMnc": {
            "type": "string",
            "description": "MCC-MNC (e.g., 204-08)"
          },
          "totalKb": {
            "type": "integer"
          },
          "uplinkKb": {
            "type": "integer"
          },
          "downlinkKb": {
            "type": "integer"
          }
        }
      },
      "AdminSimSeedUsageResponse": {
        "type": "object",
        "properties": {
          "iccid": {
            "type": "string"
          },
          "usageDay": {
            "type": "string"
          },
          "visitedMccMnc": {
            "type": "string"
          },
          "uplinkKb": {
            "type": "integer"
          },
          "downlinkKb": {
            "type": "integer"
          },
          "totalKb": {
            "type": "integer"
          },
          "seeded": {
            "type": "boolean"
          }
        }
      },
      "AdminSimEvaluateTestExpiryResponse": {
        "type": "object",
        "properties": {
          "processed": {
            "type": "integer"
          },
          "activated": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          }
        }
      },
      "AdminSimBackdateTestStartRequest": {
        "type": "object",
        "properties": {
          "daysBack": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "AdminSimBackdateTestStartResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "newStart": {
            "type": "string"
          }
        }
      },
      "AdminJobTestReadyExpiryRunRequest": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string"
          },
          "pageSize": {
            "type": "integer",
            "default": 100
          }
        }
      },
      "AdminJobTestReadyExpiryRunResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "processed": {
            "type": "integer"
          },
          "activated": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AdminJobWxSyncDailyUsageRequest": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "pageSize": {
            "type": "integer",
            "default": 100
          }
        }
      },
      "AdminJobWxSyncDailyUsageResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "processed": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AdminWxSimStatusResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "AdminWxSyncSimInfoBatchRequest": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string"
          },
          "pageSize": {
            "type": "integer",
            "default": 50
          },
          "pageIndex": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "AdminWxSyncSimInfoBatchResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "QUEUED"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SimCardListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimCard"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SimBatchDeactivateRequest": {
        "type": "object",
        "required": [
          "enterpriseId"
        ],
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "reason": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          }
        }
      },
      "SimBatchDeactivateJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "RUNNING",
              "SUCCEEDED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "progress": {
            "type": "object",
            "properties": {
              "processed": {
                "type": "integer",
                "format": "int64"
              },
              "total": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "SimBatchDeactivateAcceptedResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "RUNNING"
            ]
          },
          "totalRows": {
            "type": "integer"
          }
        }
      },
      "WxWebhookAcceptedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "WxWebhookSimOnlineRequest": {
        "type": "object",
        "required": [
          "messageType",
          "iccid",
          "msisdn",
          "sign",
          "uuid",
          "data"
        ],
        "properties": {
          "messageType": {
            "type": "string"
          },
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "msisdn": {
            "type": "string"
          },
          "sign": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": [
              "mncList",
              "eventTime",
              "mcc"
            ],
            "properties": {
              "mncList": {
                "type": "string"
              },
              "eventTime": {
                "type": "string"
              },
              "mcc": {
                "type": "string"
              }
            }
          }
        }
      },
      "WxWebhookTrafficAlertRequest": {
        "type": "object",
        "required": [
          "messageType",
          "iccid",
          "msisdn",
          "data",
          "sign",
          "uuid"
        ],
        "properties": {
          "messageType": {
            "type": "string"
          },
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "msisdn": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": [
              "thresholdReached",
              "eventTime",
              "limit",
              "eventName",
              "balanceAmount",
              "addOnID"
            ],
            "properties": {
              "thresholdReached": {
                "type": "string"
              },
              "eventTime": {
                "type": "string"
              },
              "limit": {
                "type": "string"
              },
              "eventName": {
                "type": "string"
              },
              "balanceAmount": {
                "type": "string"
              },
              "addOnID": {
                "type": "string"
              }
            }
          },
          "sign": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        }
      },
      "WxWebhookProductOrderRequest": {
        "type": "object",
        "required": [
          "messageType",
          "iccid",
          "msisdn",
          "data",
          "sign",
          "uuid"
        ],
        "properties": {
          "messageType": {
            "type": "string"
          },
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "msisdn": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": [
              "addOnId",
              "addOnType",
              "startDate",
              "transactionId",
              "expirationDate"
            ],
            "properties": {
              "addOnId": {
                "type": "string"
              },
              "addOnType": {
                "type": "string"
              },
              "startDate": {
                "type": "string"
              },
              "transactionId": {
                "type": "string"
              },
              "expirationDate": {
                "type": "string"
              }
            }
          },
          "sign": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        }
      },
      "WxWebhookSimStatusChangedRequest": {
        "type": "object",
        "required": [
          "messageType",
          "iccid",
          "msisdn",
          "sign",
          "uuid",
          "data"
        ],
        "properties": {
          "messageType": {
            "type": "string"
          },
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "msisdn": {
            "type": "string"
          },
          "sign": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": [
              "toStatus",
              "fromStatus",
              "eventTime",
              "transactionId"
            ],
            "properties": {
              "toStatus": {
                "type": "string"
              },
              "fromStatus": {
                "type": "string"
              },
              "eventTime": {
                "type": "string"
              },
              "transactionId": {
                "type": "string"
              }
            }
          }
        }
      },
      "WebhookSimStatusChangedRequest": {
        "type": "object",
        "required": [
          "iccid",
          "status"
        ],
        "properties": {
          "iccid": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "INVENTORY",
              "TEST_READY",
              "ACTIVATED",
              "DEACTIVATED",
              "RETIRED"
            ]
          }
        }
      },
      "WebhookSimStatusChangedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "changed": {
            "type": "boolean"
          }
        }
      },
      "BillingMarkPaidRequest": {
        "type": "object",
        "properties": {
          "paymentRef": {
            "type": "string"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BillingAdjustmentRequest": {
        "type": "object",
        "required": [
          "type",
          "amount"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CREDIT",
              "DEBIT"
            ]
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "BillingAdjustmentResponse": {
        "type": "object",
        "properties": {
          "noteId": {
            "type": "string"
          }
        }
      },
      "SimCard": {
        "type": "object",
        "properties": {
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$",
            "description": "Integrated Circuit Card Identifier (Physical ID)",
            "example": "89860012345678901234"
          },
          "imsi": {
            "type": "string",
            "description": "International Mobile Subscriber Identity (Network ID)",
            "example": "460001234567890"
          },
          "msisdn": {
            "type": "string",
            "description": "Mobile Station International Subscriber Directory Number",
            "example": "8613800138000"
          },
          "status": {
            "type": "string",
            "enum": [
              "INVENTORY",
              "TEST_READY",
              "ACTIVATED",
              "DEACTIVATED",
              "RETIRED"
            ],
            "description": "Lifecycle state of the SIM"
          },
          "apn": {
            "type": "string",
            "example": "cmiot"
          },
          "planName": {
            "type": "string",
            "example": "IoT-500MB-Monthly"
          },
          "activationDate": {
            "type": "string",
            "format": "date-time"
          },
          "imeiLocked": {
            "type": "boolean",
            "description": "Whether the SIM is locked to a specific device IMEI"
          }
        }
      },
      "SimStatusUpdate": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVATED",
              "DEACTIVATED"
            ],
            "description": "The target status to transition to."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the status change (e.g., \"Customer Request\", \"Stolen\")."
          }
        }
      },
      "SimPlanChange": {
        "type": "object",
        "required": [
          "newPlanCode"
        ],
        "properties": {
          "newPlanCode": {
            "type": "string",
            "example": "PLAN_1GB_2024"
          },
          "effectiveDate": {
            "type": "string",
            "enum": [
              "IMMEDIATE",
              "NEXT_CYCLE"
            ],
            "default": "NEXT_CYCLE",
            "description": "When the new plan should take effect."
          }
        }
      },
      "DataUsageRecord": {
        "type": "object",
        "properties": {
          "periodStart": {
            "type": "string",
            "format": "date-time"
          },
          "periodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "uplinkBytes": {
            "type": "integer",
            "format": "int64"
          },
          "downlinkBytes": {
            "type": "integer",
            "format": "int64"
          },
          "totalBytes": {
            "type": "integer",
            "format": "int64"
          },
          "sessionCount": {
            "type": "integer"
          }
        }
      },
      "BalanceInfo": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "example": "CNY"
          },
          "accountBalance": {
            "type": "number",
            "format": "float",
            "description": "Monetary balance for prepaid accounts."
          },
          "dataBalanceBytes": {
            "type": "integer",
            "format": "int64",
            "description": "Remaining data quota in bytes."
          },
          "smsBalanceCount": {
            "type": "integer",
            "description": "Remaining SMS quota."
          }
        }
      },
      "ConnectionStatus": {
        "type": "object",
        "properties": {
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "onlineStatus": {
            "type": "string",
            "enum": [
              "ONLINE",
              "OFFLINE"
            ]
          },
          "registrationStatus": {
            "type": "string",
            "enum": [
              "REGISTERED_HOME",
              "REGISTERED_ROAMING",
              "NOT_REGISTERED",
              "DENIED"
            ]
          },
          "lastActiveTime": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": "string",
            "format": "ipv4"
          },
          "ratType": {
            "type": "string",
            "description": "Radio Access Technology",
            "example": "NB-IoT"
          },
          "servingCellId": {
            "type": "string",
            "description": "Cell ID of the current base station"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "RUNNING",
              "SUCCEEDED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "progress": {
            "type": "object",
            "properties": {
              "processed": {
                "type": "integer",
                "format": "int64"
              },
              "total": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "errorSummary": {
            "type": "string"
          }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "billId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          },
          "period": {
            "type": "string",
            "example": "2026-02"
          },
          "status": {
            "type": "string",
            "enum": [
              "GENERATED",
              "PUBLISHED",
              "PAID",
              "OVERDUE",
              "WRITTEN_OFF"
            ]
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "totalAmount": {
            "type": "number",
            "format": "float"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BillList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bill"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          },
          "simId": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "MAIN",
              "ADD_ON"
            ]
          },
          "packageVersionId": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "CANCELLED",
              "EXPIRED"
            ]
          },
          "effectiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "commitmentEndAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SubscriptionCreateRequest": {
        "type": "object",
        "required": [
          "iccid",
          "packageVersionId"
        ],
        "properties": {
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "packageVersionId": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "MAIN",
              "ADD_ON"
            ],
            "default": "MAIN"
          },
          "effectiveAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionCreateResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING"
            ]
          },
          "effectiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "commitmentEndAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SubscriptionSwitchRequest": {
        "type": "object",
        "required": [
          "iccid",
          "fromSubscriptionId",
          "toPackageVersionId"
        ],
        "properties": {
          "iccid": {
            "type": "string",
            "pattern": "^[0-9]{18,20}$"
          },
          "fromSubscriptionId": {
            "type": "string"
          },
          "toPackageVersionId": {
            "type": "string"
          }
        }
      },
      "SubscriptionSwitchResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "PENDING"
            ]
          },
          "effectiveAt": {
            "type": "string",
            "format": "date-time"
          },
          "commitmentEndAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SubscriptionCancelRequest": {
        "type": "object",
        "properties": {
          "immediate": {
            "type": "boolean"
          }
        }
      },
      "SubscriptionCancelResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PricePlanTier": {
        "type": "object",
        "properties": {
          "fromKb": {
            "type": "integer"
          },
          "toKb": {
            "type": "integer"
          },
          "ratePerKb": {
            "type": "number"
          }
        }
      },
      "PaygRate": {
        "type": "object",
        "properties": {
          "zoneCode": {
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ratePerKb": {
            "type": "number"
          }
        }
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "testPeriodDays": {
            "type": "integer"
          },
          "testQuotaKb": {
            "type": "integer"
          },
          "testExpiryCondition": {
            "type": "string",
            "enum": [
              "PERIOD_ONLY",
              "QUOTA_ONLY",
              "PERIOD_OR_QUOTA"
            ]
          },
          "commitmentPeriodMonths": {
            "type": "integer"
          }
        }
      },
      "ControlPolicy": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "throttlingPolicyId": {
            "type": "string"
          },
          "cutoffThresholdKb": {
            "type": "integer"
          }
        }
      },
      "PricePlanCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "ONE_TIME",
              "SIM_DEPENDENT_BUNDLE",
              "FIXED_BUNDLE",
              "TIERED_VOLUME_PRICING"
            ]
          },
          "serviceType": {
            "type": "string",
            "enum": [
              "DATA",
              "VOICE",
              "SMS"
            ]
          },
          "currency": {
            "type": "string"
          },
          "billingCycleType": {
            "type": "string",
            "enum": [
              "CALENDAR_MONTH",
              "CUSTOM_RANGE"
            ]
          },
          "firstCycleProration": {
            "type": "string",
            "enum": [
              "NONE",
              "DAILY_PRORATION"
            ]
          },
          "prorationRounding": {
            "type": "string",
            "enum": [
              "ROUND_HALF_UP"
            ]
          },
          "oneTimeFee": {
            "type": "number"
          },
          "quotaKb": {
            "type": "integer"
          },
          "validityDays": {
            "type": "integer"
          },
          "expiryBoundary": {
            "type": "string",
            "enum": [
              "CALENDAR_DAY_END",
              "DURATION_EXCLUSIVE_END"
            ]
          },
          "monthlyFee": {
            "type": "number"
          },
          "deactivatedMonthlyFee": {
            "type": "number"
          },
          "perSimQuotaKb": {
            "type": "integer"
          },
          "totalQuotaKb": {
            "type": "integer"
          },
          "overageRatePerKb": {
            "type": "number"
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlanTier"
            }
          },
          "paygRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaygRate"
            }
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "controlPolicy": {
            "$ref": "#/components/schemas/ControlPolicy"
          }
        }
      },
      "PricePlanCreateResponse": {
        "type": "object",
        "properties": {
          "pricePlanId": {
            "type": "string"
          },
          "pricePlanVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PricePlanVersion": {
        "type": "object",
        "properties": {
          "pricePlanVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date-time"
          },
          "monthlyFee": {
            "type": "number"
          },
          "deactivatedMonthlyFee": {
            "type": "number"
          },
          "oneTimeFee": {
            "type": "number"
          },
          "quotaKb": {
            "type": "integer"
          },
          "validityDays": {
            "type": "integer"
          },
          "perSimQuotaKb": {
            "type": "integer"
          },
          "totalQuotaKb": {
            "type": "integer"
          },
          "overageRatePerKb": {
            "type": "number"
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlanTier"
            }
          },
          "paygRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaygRate"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PricePlanListItem": {
        "type": "object",
        "properties": {
          "pricePlanId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latestVersion": {
            "$ref": "#/components/schemas/PricePlanVersion"
          }
        }
      },
      "PricePlanListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlanListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "PricePlanDetailResponse": {
        "type": "object",
        "properties": {
          "pricePlanId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "billingCycleType": {
            "type": "string"
          },
          "firstCycleProration": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/PricePlanVersion"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlanVersion"
            }
          }
        }
      },
      "PricePlanVersionCreateRequest": {
        "type": "object",
        "properties": {
          "serviceType": {
            "type": "string",
            "enum": [
              "DATA",
              "VOICE",
              "SMS"
            ]
          },
          "currency": {
            "type": "string"
          },
          "billingCycleType": {
            "type": "string",
            "enum": [
              "CALENDAR_MONTH",
              "CUSTOM_RANGE"
            ]
          },
          "firstCycleProration": {
            "type": "string",
            "enum": [
              "NONE",
              "DAILY_PRORATION"
            ]
          },
          "prorationRounding": {
            "type": "string",
            "enum": [
              "ROUND_HALF_UP"
            ]
          },
          "oneTimeFee": {
            "type": "number"
          },
          "quotaKb": {
            "type": "integer"
          },
          "validityDays": {
            "type": "integer"
          },
          "expiryBoundary": {
            "type": "string",
            "enum": [
              "CALENDAR_DAY_END",
              "DURATION_EXCLUSIVE_END"
            ]
          },
          "monthlyFee": {
            "type": "number"
          },
          "deactivatedMonthlyFee": {
            "type": "number"
          },
          "perSimQuotaKb": {
            "type": "integer"
          },
          "totalQuotaKb": {
            "type": "integer"
          },
          "overageRatePerKb": {
            "type": "number"
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlanTier"
            }
          },
          "paygRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaygRate"
            }
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "controlPolicy": {
            "$ref": "#/components/schemas/ControlPolicy"
          }
        }
      },
      "PricePlanVersionCreateResponse": {
        "type": "object",
        "properties": {
          "pricePlanVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoamingProfileConfig": {
        "type": "object",
        "properties": {
          "allowedMccMnc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CarrierServiceConfig": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "rat": {
            "type": "string",
            "enum": [
              "4G",
              "3G",
              "5G",
              "NB-IoT"
            ]
          },
          "apn": {
            "type": "string"
          },
          "apnProfileVersionId": {
            "type": "string"
          },
          "roamingProfileVersionId": {
            "type": "string"
          },
          "roamingProfile": {
            "$ref": "#/components/schemas/RoamingProfileConfig"
          }
        }
      },
      "PackageCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "pricePlanVersionId",
          "carrierServiceConfig"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricePlanVersionId": {
            "type": "string"
          },
          "carrierServiceConfig": {
            "$ref": "#/components/schemas/CarrierServiceConfig"
          }
        }
      },
      "PackageUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pricePlanVersionId": {
            "type": "string"
          },
          "carrierServiceConfig": {
            "$ref": "#/components/schemas/CarrierServiceConfig"
          }
        }
      },
      "PackageCreateResponse": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "packageVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PackageUpdateResponse": {
        "type": "object",
        "properties": {
          "packageVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PackagePublishResponse": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "packageVersionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PackageVersion": {
        "type": "object",
        "properties": {
          "packageVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date-time"
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "apn": {
            "type": "string"
          },
          "roamingProfile": {
            "$ref": "#/components/schemas/RoamingProfileConfig"
          },
          "controlPolicy": {
            "$ref": "#/components/schemas/ControlPolicy"
          },
          "pricePlanVersionId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PackageListItem": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latestVersion": {
            "$ref": "#/components/schemas/PackageVersion"
          }
        }
      },
      "PackageListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "PackageDetailResponse": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/PackageVersion"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageVersion"
            }
          }
        }
      },
      "PackageSummary": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PackageSummaryListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageSummary"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "PackageVersionListItem": {
        "type": "object",
        "properties": {
          "packageVersionId": {
            "type": "string"
          },
          "packageId": {
            "type": "string"
          },
          "packageName": {
            "type": "string",
            "nullable": true
          },
          "carrierId": {
            "type": "string",
            "nullable": true
          },
          "carrierName": {
            "type": "string",
            "nullable": true
          },
          "mcc": {
            "type": "string",
            "nullable": true
          },
          "mnc": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "serviceType": {
            "type": "string"
          },
          "apn": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PackageVersionListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageVersionListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ProfileVersion": {
        "type": "object",
        "properties": {
          "profileVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date-time"
          },
          "effectiveTo": {
            "type": "string",
            "format": "date-time"
          },
          "config": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApnProfileCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "apn",
          "supplierId"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "apn": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "NONE",
              "PAP",
              "CHAP"
            ]
          },
          "username": {
            "type": "string"
          },
          "passwordRef": {
            "type": "string"
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          }
        }
      },
      "RoamingProfileCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "mccmncList",
          "supplierId"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "mccmncList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          }
        }
      },
      "ApnProfileCreateResponse": {
        "type": "object",
        "properties": {
          "apnProfileId": {
            "type": "string"
          },
          "profileVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoamingProfileCreateResponse": {
        "type": "object",
        "properties": {
          "roamingProfileId": {
            "type": "string"
          },
          "profileVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApnProfileListItem": {
        "type": "object",
        "properties": {
          "apnProfileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "apn": {
            "type": "string"
          },
          "authType": {
            "type": "string"
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/ProfileVersion"
          }
        }
      },
      "RoamingProfileListItem": {
        "type": "object",
        "properties": {
          "roamingProfileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mccmncList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/ProfileVersion"
          }
        }
      },
      "ApnProfileListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApnProfileListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "RoamingProfileListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoamingProfileListItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ApnProfileDetailResponse": {
        "type": "object",
        "properties": {
          "apnProfileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "apn": {
            "type": "string"
          },
          "authType": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "passwordRef": {
            "type": "string"
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/ProfileVersion"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileVersion"
            }
          }
        }
      },
      "RoamingProfileDetailResponse": {
        "type": "object",
        "properties": {
          "roamingProfileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mccmncList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supplierId": {
            "type": "string"
          },
          "carrierId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentVersion": {
            "$ref": "#/components/schemas/ProfileVersion"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileVersion"
            }
          }
        }
      },
      "ApnProfileVersionCreateRequest": {
        "type": "object",
        "properties": {
          "apn": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "NONE",
              "PAP",
              "CHAP"
            ]
          },
          "username": {
            "type": "string"
          },
          "passwordRef": {
            "type": "string"
          }
        }
      },
      "RoamingProfileVersionCreateRequest": {
        "type": "object",
        "properties": {
          "mccmncList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProfileVersionCreateResponse": {
        "type": "object",
        "properties": {
          "profileVersionId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ProfilePublishResponse": {
        "type": "object",
        "properties": {
          "profileVersionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "effectiveFrom": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProfileRollbackResponse": {
        "type": "object",
        "properties": {
          "profileVersionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ReconciliationRunRequest": {
        "type": "object",
        "required": [
          "supplierId",
          "date"
        ],
        "properties": {
[...]
