{
  "openapi": "3.0.3",
  "info": {
    "title": "IoT Connectivity Management Platform API",
    "description": "Core API for managing IoT SIM lifecycles, billing, and real-time connectivity diagnostics. Designed for MNOs, MVNOs, and Enterprise customers.\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@iot-cmp.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iot-cmp.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://sandbox-api.iot-cmp.com/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token issuance and auth helpers"
    },
    {
      "name": "Suppliers",
      "description": "Connectivity supplier management"
    },
    {
      "name": "Resellers",
      "description": "Reseller management. Path segment **`{resellerId}`** on `/resellers/{resellerId}` and nested routes is the RESELLER **`tenants.tenant_id`** (**FR-058**, same value as JWT `resellerId`); query/body field **`resellerId`** keeps that meaning on list/filter APIs. Responses may include **`resellerRecordId`** (`resellers.id`).\n"
    },
    {
      "name": "Enterprises",
      "description": "Enterprise tenant management."
    },
    {
      "name": "Departments",
      "description": "Department management within enterprises"
    },
    {
      "name": "Users",
      "description": "Tenant user management"
    },
    {
      "name": "Integration",
      "description": "Upstream supplier integrations (credentials, config, enable/disable).\nAuth: **platform_admin JWT** or **X-API-Key: ADMIN_API_KEY**.\nUniqueness: one ACTIVE/INACTIVE row per **(resellerId, supplierId, operatorId)**.\n"
    },
    {
      "name": "Outbound Webhooks",
      "description": "CMP → customer outbound webhook event catalog, subscriptions, and deliveries (FR-039)"
    },
    {
      "name": "Inbound Webhooks",
      "description": "Supplier → CMP inbound webhook event catalog and WXZHONGGENG callback endpoints (FR-067+)"
    },
    {
      "name": "NetworkProfiles",
      "description": "**APN** and **Roaming** profile management (snapshots, publish/deprecate).\n**Out-of-profile (OOP)** rates use **Carrier Service `roamingProfileId`** only — **not** a field on **PricePlan**.\nFor **in-profile** (MCC,MNC) allowlists reused by **Price Plans**, see tag **CoveredNetworkProfiles**.\n"
    },
    {
      "name": "CarrierService",
      "description": "Carrier service module validation"
    },
    {
      "name": "CommercialTerms",
      "description": "Commercial terms module validation"
    },
    {
      "name": "ControlPolicy",
      "description": "Control policy module validation"
    },
    {
      "name": "CoveredNetworkProfiles",
      "description": "**CoveredNetworkProfile** — reusable **in-profile** (MCC,MNC) coverage snapshots (**DRAFT / PUBLISHED / DEPRECATED**), referenced by **all** **Price Plan** types via **`coveredNetworkProfileId`** (**ONE_TIME**, **SIM_DEPENDENT_BUNDLE**, **FIXED_BUNDLE**, **TIERED_PRICING**).\nDistinct from **RoamingProfile**: **OOP** routing is **Package → Carrier Service → roamingProfileId** only.\n"
    },
    {
      "name": "PricePlans",
      "description": "Price plan catalog and management"
    },
    {
      "name": "Packages",
      "description": "**Sellable `packages` rows** (`package_id` / `packageId`) managed by **status** (`DRAFT` / `PUBLISHED` / `DEPRECATED`) and id — no separate version dimension.\n"
    },
    {
      "name": "Rating Fallback Packages",
      "description": "Default Fallback Package mappings for no-active-subscription usage rating. These endpoints map a reseller + supplier + operator to an ordinary published package; they do not create subscriptions or special package types.\n"
    },
    {
      "name": "SIMs",
      "description": "SIM search, details, plans, and subscriptions"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription lifecycle and operations"
    },
    {
      "name": "Billing",
      "description": "Bills and exports"
    },
    {
      "name": "Jobs",
      "description": "Job status tracking"
    },
    {
      "name": "Diagnostics",
      "description": "Connectivity and location diagnostics"
    },
    {
      "name": "Events",
      "description": "Event query and history"
    },
    {
      "name": "Alerts",
      "description": "Monitoring alerts and notifications"
    },
    {
      "name": "Alert Configurations",
      "description": "Alert type catalog and scoped alert configuration profiles"
    },
    {
      "name": "Reports",
      "description": "Usage and operational reports"
    },
    {
      "name": "Reconciliation",
      "description": "Upstream reconciliation runs and mismatch analysis"
    },
    {
      "name": "AuditLogs",
      "description": "Audit log access for tenant operations"
    },
    {
      "name": "Admin",
      "description": "Internal admin endpoints"
    },
    {
      "name": "PublicInfos",
      "description": "3GPP public carrier directory (`public_infos`). `GET /public-infos` is readable by **any authenticated system user**;\n`name` and `country` use fuzzy (substring) match. create/update/delete under `/admin/public-infos` for **platform_admin** only.\nIsolated from business `operators` / SIM flows (no FK).\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Business Entity Management",
      "tags": [
        "Authentication",
        "Suppliers",
        "Resellers",
        "Enterprises",
        "Departments",
        "Users"
      ]
    },
    {
      "name": "Integration Management",
      "tags": [
        "Integration",
        "Outbound Webhooks",
        "Inbound Webhooks"
      ]
    },
    {
      "name": "Package Management",
      "tags": [
        "NetworkProfiles",
        "CarrierService",
        "CommercialTerms",
        "ControlPolicy",
        "CoveredNetworkProfiles",
        "PricePlans",
        "Packages",
        "Rating Fallback Packages"
      ]
    },
    {
      "name": "SIM, Subscription and Billing",
      "tags": [
        "SIMs",
        "Subscriptions",
        "Billing"
      ]
    },
    {
      "name": "Operation Management",
      "tags": [
        "Jobs",
        "Diagnostics",
        "Events",
        "Alerts",
        "Alert Configurations",
        "Reports",
        "Reconciliation",
        "AuditLogs"
      ]
    },
    {
      "name": "Admin",
      "tags": [
        "Admin"
      ]
    },
    {
      "name": "PublicInfos",
      "tags": [
        "PublicInfos"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "AdminApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Admin key for internal endpoints (same header name, different value)."
      }
    },
    "parameters": {
      "InboundWebhookKeyHeader": {
        "name": "webhookKey",
        "in": "header",
        "required": true,
        "description": "Inbound supplier webhook secret — same value as **webhookKey** on **POST /upstream-integrations** for this supplier/operator pair.\n",
        "schema": {
          "type": "string"
        }
      },
      "ResellerTenantIdPath": {
        "name": "resellerId",
        "in": "path",
        "required": true,
        "description": "RESELLER canonical id (**FR-058**): **`tenants.tenant_id`** for the reseller row (same value as JWT claim `resellerId` and API-Key–resolved reseller scope).\n",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ResellerIdQuery": {
        "name": "resellerId",
        "in": "query",
        "required": false,
        "description": "Filter or scope by RESELLER **`tenants.tenant_id`** (**FR-058**). Used on platform (or allowed) list endpoints—e.g. audit logs, events, webhooks.\n",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SimsListResellerIdQuery": {
        "name": "resellerId",
        "in": "query",
        "required": false,
        "description": "Filter SIMs by RESELLER **`tenants.tenant_id`** (**FR-058**). **Platform admin only**; **`reseller_admin`** scope comes from JWT.\n",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "EnterpriseListParentResellerIdQuery": {
        "name": "resellerId",
        "in": "query",
        "required": false,
        "description": "Filter enterprises by parent RESELLER **`tenants.tenant_id`** (**FR-058**). **Platform admin only**; **`reseller_admin`** uses JWT scope.\n",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "PackageListStatusQuery": {
        "name": "status",
        "in": "query",
        "required": false,
        "description": "Filter by package lifecycle status (`packages.status`). Omit to return packages in any status.\n",
        "schema": {
          "type": "string",
          "enum": [
            "DRAFT",
            "PUBLISHED",
            "DEPRECATED"
          ]
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "description": "Unified error envelope for API responses.\n- `code` uses stable machine-readable values (for example: `BAD_REQUEST`, `UNAUTHORIZED`, `FORBIDDEN`, `RESOURCE_NOT_FOUND`, `NOT_FOUND`, `INVALID_STATUS`, `REFERENCES_BLOCKED`, `INTERNAL_ERROR`).\n- `message` uses field-level validation wording: `\"<field> is required.\"` or `\"<field> is invalid.\"` for request validation failures.\n- `traceId` is returned when available and should be used for troubleshooting.\n",
        "properties": {
          "code": {
            "type": "string",
            "example": "BAD_REQUEST"
          },
          "message": {
            "type": "string",
            "example": "commercialTerms.testExpiryAction is invalid."
          },
          "traceId": {
            "type": "string",
            "example": "req_123456789"
          }
        }
      },
      "ResellerBrandingConfig": {
        "type": "object",
        "properties": {
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "primaryColor": {
            "type": "string",
            "nullable": true
          },
          "customDomain": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Reseller": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER **`tenants.tenant_id`** (**FR-058**)—the public id for paths, JWT `resellerId`, and POST `/enterprises` body **`resellerId`**.\n"
          },
          "resellerRecordId": {
            "type": "string",
            "format": "uuid",
            "description": "Domain row **`resellers.id`** for DB reconciliation."
          },
          "name": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "currency",
          "contactEmail"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          }
        }
      },
      "ResellerUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "brandingConfig": {
            "$ref": "#/components/schemas/ResellerBrandingConfig"
          }
        }
      },
      "ResellerUpdateResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER **`tenants.tenant_id`** (**FR-058**)."
          },
          "resellerRecordId": {
            "type": "string",
            "format": "uuid",
            "description": "**`resellers.id`**"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reseller"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "ResellerStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ResellerStatusChangeResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER **`tenants.tenant_id`** (**FR-058**)."
          },
          "resellerRecordId": {
            "type": "string",
            "format": "uuid",
            "description": "**`resellers.id`**"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DEACTIVATED",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Enterprise": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "Parent RESELLER **`tenants.tenant_id`** (**FR-058**)."
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "autoSuspendEnabled": {
            "type": "boolean"
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnterpriseCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "contactEmail"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 200
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "When **`platform_admin`** creates an enterprise for a reseller, pass that reseller’s **`tenants.tenant_id`** (**FR-058**).\n**`reseller_admin`**: omit (server uses JWT scope).\n"
          },
          "autoSuspendEnabled": {
            "type": "boolean"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EnterpriseListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Enterprise"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "EnterpriseStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "EnterpriseStatusChangeResponse": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnterpriseOverdueSummary": {
        "type": "object",
        "description": "Enterprise-level overdue bill summary. This endpoint is informational only; it does not send reminders, change enterprise status, or suspend SIMs.",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "overdueRiskLevel": {
            "type": "string",
            "enum": [
              "NORMAL",
              "WARNING",
              "HIGH",
              "CRITICAL"
            ]
          },
          "overdueAmount": {
            "type": "number"
          },
          "oldestOverdueBillId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "oldestOverduePeriod": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM of oldest overdue bill period"
          },
          "daysOverdue": {
            "type": "integer"
          },
          "gracePeriodDays": {
            "type": "integer"
          },
          "recommendedAction": {
            "type": "string",
            "nullable": true,
            "description": "Offline/manual follow-up recommendation only; no automatic reminder is sent."
          },
          "nextActionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autoSuspendEnabled": {
            "type": "boolean"
          },
          "lateFeeAmount": {
            "type": "number",
            "description": "Estimated late fee from configured rule, for display only. It does not create bill line items or receivables."
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "string",
            "format": "uuid"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DepartmentCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          }
        }
      },
      "DepartmentListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Operator": {
        "type": "object",
        "properties": {
          "operatorId": {
            "type": "string",
            "format": "uuid"
          },
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "OperatorCreateRequest": {
        "type": "object",
        "required": [
          "mcc",
          "mnc",
          "name"
        ],
        "properties": {
          "mcc": {
            "type": "string"
          },
          "mnc": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "mcc": "460",
          "mnc": "01",
          "name": "China Unicom"
        }
      },
      "OperatorUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "OperatorListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operator"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "PublicInfo": {
        "type": "object",
        "properties": {
          "publicInfoId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "mcc": {
            "type": "string",
            "description": "3-digit MCC"
          },
          "mnc": {
            "type": "string",
            "description": "2–3 digit MNC (stored normalized to 3 digits when 2 provided)"
          },
          "lteBands": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PublicInfoCreateRequest": {
        "type": "object",
        "required": [
          "mcc",
          "mnc",
          "name",
          "country"
        ],
        "properties": {
          "mcc": {
            "type": "string",
            "example": "460",
            "description": "3-digit MCC (required)"
          },
          "mnc": {
            "type": "string",
            "example": "02",
            "description": "1–3 digit MNC (required). Habitual 2-digit values (e.g. `\"02\"`) are **left-padded to 3 digits**\n(`\"002\"`) before uniqueness check and persistence.\n"
          },
          "name": {
            "type": "string",
            "description": "Carrier / company display name (required)"
          },
          "country": {
            "type": "string",
            "description": "Country label (required)"
          },
          "lteBands": {
            "type": "string",
            "description": "Optional LTE band list"
          }
        }
      },
      "PublicInfoUpdateRequest": {
        "type": "object",
        "required": [
          "mcc",
          "mnc",
          "name",
          "country"
        ],
        "properties": {
          "mcc": {
            "type": "string",
            "description": "3-digit MCC (required)"
          },
          "mnc": {
            "type": "string",
            "example": "02",
            "description": "1–3 digit MNC (required). Habitual 2-digit values (e.g. `\"02\"`) are **left-padded to 3 digits**\n(`\"002\"`) before uniqueness check and persistence.\n"
          },
          "name": {
            "type": "string",
            "description": "Carrier / company display name (required)"
          },
          "country": {
            "type": "string",
            "description": "Country label (required)"
          },
          "lteBands": {
            "type": "string",
            "nullable": true,
            "description": "Optional; omitted clears previous value"
          }
        }
      },
      "PublicInfoListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicInfo"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "PublicInfoDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "operatorIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "operators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierBoundOperator"
            },
            "nullable": true
          }
        }
      },
      "SupplierBoundOperator": {
        "type": "object",
        "properties": {
          "operatorId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "mcc": {
            "type": "string",
            "nullable": true
          },
          "mnc": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SupplierCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "operatorIds"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "operatorIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "name": "Global IoT Supplier",
          "status": "ACTIVE",
          "operatorIds": [
            "7f0aa3c1-0c2a-4a8c-9a4b-7d6a7bbf9a1d"
          ]
        }
      },
      "SupplierUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          }
        }
      },
      "SupplierUpdateResponse": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupplierListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Supplier"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "SupplierStatusChangeRequest": {
        "type": "object",
        "required": [
          "status",
          "reason"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "example": {
          "status": "SUSPENDED",
          "reason": "Carrier compliance review"
        }
      },
      "SupplierStatusChangeResponse": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "previousStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "changedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupplierBindOperatorRequest": {
        "type": "object",
        "required": [
          "operatorId"
        ],
        "properties": {
          "operatorId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "SupplierBindOperatorResponse": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "operatorId": {
            "type": "string",
            "format": "uuid"
          },
          "supplierOperatorId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResellerBindSupplierRequest": {
        "type": "object",
        "required": [
          "supplierId"
        ],
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResellerBindSupplierResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "Echoes RESELLER **`tenants.tenant_id`** used for `reseller_suppliers.reseller_id` (**FR-058**)."
          },
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "boundAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ResellerSupplierBinding": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ],
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "boundAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ResellerSuppliersListResponse": {
        "type": "object",
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER **`tenants.tenant_id`** (**FR-058**)."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResellerSupplierBinding"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "TenantUser": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "For reseller-tenant users, the RESELLER **`tenants.tenant_id`** (**FR-058**)."
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "assignedDepartmentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResellerUserCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "displayName",
          "role",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "reseller_admin",
              "reseller_sales_director",
              "reseller_sales",
              "reseller_finance"
            ]
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "maxLength": 256,
            "writeOnly": true,
            "description": "Initial login password; stored as scrypt hash in `users.password_hash`. Never returned in API responses."
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "email": "sales.director@reseller.com",
          "displayName": "Reseller Sales Director",
          "role": "reseller_sales_director",
          "password": "changeMe!23",
          "assignedEnterpriseIds": [
            "2c6b8f18-2dbf-4e7f-8bc7-96b81b48279b"
          ]
        }
      },
      "ResellerUserAssignEnterprisesRequest": {
        "type": "object",
        "required": [
          "assignedEnterpriseIds"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "replace",
              "append"
            ],
            "default": "replace",
            "description": "Assignment mode. `replace` resets to the submitted set; `append` merges into existing assignments."
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "mode": "replace",
          "assignedEnterpriseIds": [
            "2c6b8f18-2dbf-4e7f-8bc7-96b81b48279b"
          ]
        }
      },
      "ResellerUserAssignEnterprisesResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER **`tenants.tenant_id`** (**FR-058**); matches `reseller_enterprise_assignments.reseller_id`."
          },
          "assignedEnterpriseIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "ResellerUserEnterpriseAssignmentListItem": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "enterprise_status": {
            "type": "string",
            "nullable": true
          },
          "auto_suspend_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ResellerUserAssignedEnterprisesResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "description": "RESELLER `tenants.tenant_id` (same semantics as path param `resellerId`)."
          },
          "enterprises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResellerUserEnterpriseAssignmentListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of enterprises matching the visibility rules (before pagination)."
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "EnterpriseUserCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "displayName",
          "role",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "customer_admin",
              "customer_ops"
            ]
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "maxLength": 256,
            "writeOnly": true,
            "description": "Initial login password; stored as scrypt hash in `users.password_hash`. Never returned in API responses."
          },
          "assignedDepartmentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "email": "ops@enterprise.com",
          "displayName": "Enterprise Ops",
          "role": "customer_ops",
          "password": "changeMe!23",
          "assignedDepartmentIds": [
            "d9eb2b8b-9b55-4030-9d2a-2b7bbd3dd1c2"
          ]
        }
      },
      "EnterpriseUserAssignDepartmentsRequest": {
        "type": "object",
        "required": [
          "assignedDepartmentIds"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "replace",
              "append"
            ],
            "default": "replace",
            "description": "Assignment mode. `replace` resets to the submitted set; `append` merges into existing assignments."
          },
          "assignedDepartmentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "example": {
          "mode": "replace",
          "assignedDepartmentIds": [
            "d9eb2b8b-9b55-4030-9d2a-2b7bbd3dd1c2"
          ]
        }
      },
      "EnterpriseUserAssignDepartmentsResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "assignedDepartmentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "EnterpriseUserDepartmentAssignmentListItem": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EnterpriseUserAssignedDepartmentsResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnterpriseUserDepartmentAssignmentListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of departments matching the visibility rules (before pagination)."
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "TenantUserListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TenantUser"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AuditLogListItem": {
        "type": "object",
        "properties": {
          "logId": {
            "type": "string",
            "format": "uuid"
          },
          "actor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "actorRole": {
            "type": "string",
            "nullable": true
          },
          "tenantScope": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "before": {
            "type": "object",
            "nullable": true
          },
          "after": {
            "type": "object",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "sourceIp": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AuditLogListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogListItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "format": "uuid"
          },
          "alertType": {
            "type": "string",
            "enum": [
              "POOL_USAGE_HIGH",
              "OUT_OF_PROFILE_SURGE",
              "SILENT_SIM",
              "UNEXPECTED_ROAMING",
              "CDR_DELAY",
              "UPSTREAM_DISCONNECT",
              "WEBHOOK_DELIVERY_FAILED"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "ACKED",
              "RESOLVED",
              "SUPPRESSED"
            ]
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "simId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "iccid": {
            "type": "string",
            "nullable": true
          },
          "threshold": {
            "type": "number",
            "nullable": true
          },
          "currentValue": {
            "type": "number",
            "nullable": true,
            "description": "Current measured value for the alert. For `CDR_DELAY`, this is the number of delayed CDR files for the reseller. For `UPSTREAM_DISCONNECT`, this is the consecutive failed token probe count."
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "description": "Alert-specific details. For `CDR_DELAY`, metadata may include `delayedFiles`, `cdrFileIds`, `affectedIccidCount`, `sampleIccids`, `supplierIds`, `operatorIds`, and `thresholdUnit`. For `UPSTREAM_DISCONNECT`, metadata may include `integrationId`, `supplierId`, `operatorId`, `probeApi`, `failureCount`, `lastSuccessAt`, `lastFailureAt`, `lastErrorCode`, `lastErrorMessage`, and `thresholdUnit`."
          },
          "windowStart": {
            "type": "string",
            "format": "date-time"
          },
          "windowEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "firstSeenAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acknowledgedBy": {
            "type": "string",
            "nullable": true
          },
          "suppressedUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AlertSummary": {
        "type": "object",
        "properties": {
          "totalOpen": {
            "type": "integer"
          },
          "byStatus": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "OPEN",
                    "ACKED",
                    "RESOLVED",
                    "SUPPRESSED"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "bySeverity": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "P0",
                    "P1",
                    "P2",
                    "P3"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AlertTrend": {
        "type": "object",
        "properties": {
          "days": {
            "type": "integer"
          },
          "trends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "UsageTrendReport": {
        "type": "object",
        "properties": {
          "granularity": {
            "type": "string",
            "enum": [
              "day",
              "month"
            ]
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "groupBy": {
            "type": "string",
            "nullable": true,
            "enum": [
              "enterprise",
              "mcc"
            ],
            "description": "When null/omitted on request, response groupBy is null and items are total-only (`period` + `totalMb`). When set, items include `groupKey` / `groupLabel`.\n"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string"
                },
                "groupKey": {
                  "type": "string",
                  "description": "enterpriseId (UUID) or MCC (3 digits) when groupBy is set."
                },
                "groupLabel": {
                  "type": "string",
                  "nullable": true,
                  "description": "Enterprise name when groupBy=enterprise; MCC echo when groupBy=mcc."
                },
                "totalMb": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "SimSummaryReport": {
        "type": "object",
        "required": [
          "total",
          "byStatus",
          "byEnterprise",
          "byVisitedMcc",
          "visitedMccWindow"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total SIMs in scope (includes reseller inventory when scoped by reseller)."
          },
          "byStatus": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "status",
                "count"
              ],
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "INVENTORY",
                    "TEST_READY",
                    "ACTIVATED",
                    "DEACTIVATED",
                    "RETIRED"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "byEnterprise": {
            "type": "array",
            "description": "SIM counts by assigned enterprise. Populated for reseller-wide / platform-wide scope; empty when a single enterpriseId is selected (or customer token).\n",
            "items": {
              "type": "object",
              "required": [
                "count"
              ],
              "properties": {
                "enterpriseId": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true,
                  "description": "Null for inventory SIMs not assigned to an enterprise."
                },
                "enterpriseName": {
                  "type": "string",
                  "nullable": true
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "byVisitedMcc": {
            "type": "array",
            "description": "Distinct SIM counts by **visited network MCC** (country of use), derived from `usage_daily_summary.visited_mccmnc` (first 3 digits). Not the SIM home/operator MCC.\n",
            "items": {
              "type": "object",
              "required": [
                "mcc",
                "count"
              ],
              "properties": {
                "mcc": {
                  "type": "string",
                  "description": "Visited MCC (3 digits)."
                },
                "count": {
                  "type": "integer",
                  "description": "Distinct SIMs with usage in this visited MCC within visitedMccWindow."
                }
              }
            }
          },
          "visitedMccWindow": {
            "type": "object",
            "required": [
              "startDate",
              "endDate"
            ],
            "description": "Date window applied to byVisitedMcc (default last 6 calendar months).",
            "properties": {
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date"
              }
            }
          }
        }
      },
      "TopSimsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "iccid": {
                  "type": "string"
                },
                "totalMb": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "AnomalySimsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "iccid": {
                  "type": "string",
                  "nullable": true
                },
                "alertCount": {
                  "type": "integer"
                },
                "latestAlertType": {
                  "type": "string",
                  "nullable": true
                },
                "latestSeverity": {
                  "type": "string",
                  "nullable": true
                },
                "latestStatus": {
                  "type": "string",
                  "nullable": true
                },
                "lastSeenAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "DeactivationReasonsReport": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AuthTokenRequest": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret"
        ],
        "properties": {
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          }
        }
      },
      "AuthUser": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "roleScope": {
            "type": "string"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "JWT claim — RESELLER **`tenants.tenant_id`** when `roleScope` is `reseller` (**FR-058**)."
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "AuthLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthLoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        }
      },
      "AuthRefreshRequest": {
        "type": "object",
        "required": [
          "refreshToken"
        ],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AuthRefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "tokenType": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/AuthUser"
          }
        }
      },
      "AuthChangePasswordRequest": {
        "type": "object",
        "required": [
          "currentPassword",
          "newPassword"
        ],
        "properties": {
          "currentPassword": {
            "type": "string",
            "format": "password",
            "description": "Existing password (verified against `users.password_hash`)."
          },
          "newPassword": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "maxLength": 256,
            "description": "Replacement password; must differ from `currentPassword`."
          }
        }
      },
      "AuthForgotPasswordRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "AuthForgotPasswordResponse": {
        "type": "object",
        "required": [
          "ok",
          "message"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "description": "Generic message (does not reveal whether the email is registered)."
          },
          "devResetUrl": {
            "type": "string",
            "format": "uri",
            "description": "Present only in non-production when mail is logged locally (no SMTP).\nContains the one-time reset link for developer testing. Never rely on this in production.\n"
          }
        }
      },
      "AuthResetPasswordRequest": {
        "type": "object",
        "required": [
          "token",
          "newPassword"
        ],
        "properties": {
          "token": {
            "type": "string",
            "minLength": 20,
            "description": "One-time token from the password-reset email link."
          },
          "newPassword": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "maxLength": 256
          }
        }
      },
      "AuthResetPasswordResponse": {
        "type": "object",
        "required": [
          "ok"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "AuthChangePasswordResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "AlertsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AlertRuleConfig": {
        "type": "object",
        "properties": {
          "configId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "scopeType": {
            "type": "string",
            "enum": [
              "PLATFORM",
              "RESELLER",
              "ENTERPRISE"
            ]
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "alertType": {
            "type": "string",
            "enum": [
              "POOL_USAGE_HIGH",
              "OUT_OF_PROFILE_SURGE",
              "SILENT_SIM",
              "UNEXPECTED_ROAMING",
              "CDR_DELAY",
              "UPSTREAM_DISCONNECT",
              "WEBHOOK_DELIVERY_FAILED"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "severity": {
            "type": "string",
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3"
            ]
          },
          "thresholdValue": {
            "type": "number",
            "nullable": true
          },
          "thresholdUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PERCENT",
              "KB",
              "MB",
              "GB",
              "HOURS",
              "MINUTES",
              "ATTEMPTS",
              "COUNT"
            ]
          },
          "windowMinutes": {
            "type": "integer",
            "nullable": true
          },
          "suppressMinutes": {
            "type": "integer"
          },
          "deliveryChannels": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PORTAL",
                "WEBHOOK"
              ]
            }
          },
          "deliveryTargets": {
            "type": "object"
          },
          "thresholdConfig": {
            "type": "object"
          },
          "version": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AlertRuleConfigListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertRuleConfig"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AlertTypeCatalogItem": {
        "type": "object",
        "properties": {
          "alertType": {
            "type": "string",
            "enum": [
              "POOL_USAGE_HIGH",
              "OUT_OF_PROFILE_SURGE",
              "SILENT_SIM",
              "UNEXPECTED_ROAMING",
              "CDR_DELAY",
              "UPSTREAM_DISCONNECT",
              "WEBHOOK_DELIVERY_FAILED"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "allowedScopeTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PLATFORM",
                "RESELLER",
                "ENTERPRISE"
              ]
            }
          },
          "defaultSeverity": {
            "type": "string",
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3"
            ]
          },
          "defaultThresholdValue": {
            "type": "number",
            "nullable": true,
            "description": "Default threshold for the alert type. `SILENT_SIM` uses deactivated duration in hours (catalog default `4320` ≈ 180 days). `UNEXPECTED_ROAMING` uses absolute out-of-profile volume (catalog default `20` with unit `MB`).\n"
          },
          "defaultThresholdUnit": {
            "type": "string",
            "nullable": true,
            "description": "Unit for `defaultThresholdValue`. Examples: `PERCENT` (pool / OOP surge), `HOURS` (`SILENT_SIM`, `CDR_DELAY`), `MB` (`UNEXPECTED_ROAMING`), `ATTEMPTS` (upstream / webhook).\n",
            "enum": [
              "PERCENT",
              "KB",
              "MB",
              "GB",
              "HOURS",
              "MINUTES",
              "ATTEMPTS",
              "COUNT"
            ]
          },
          "defaultWindowMinutes": {
            "type": "integer",
            "nullable": true
          },
          "defaultSuppressMinutes": {
            "type": "integer"
          },
          "defaultDeliveryChannels": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PORTAL",
                "WEBHOOK"
              ]
            }
          },
          "defaultDeliveryTargets": {
            "type": "object"
          },
          "defaultThresholdConfig": {
            "type": "object"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "sortOrder": {
            "type": "integer"
          }
        }
      },
      "AlertTypeCatalogListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertTypeCatalogItem"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AlertConfigProfileSummary": {
        "type": "object",
        "properties": {
          "profileId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "scopeType": {
            "type": "string",
            "enum": [
              "PLATFORM",
              "RESELLER",
              "ENTERPRISE"
            ]
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "integer"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AlertConfigItemRequest": {
        "type": "object",
        "required": [
          "alertType",
          "enabled",
          "severity",
          "suppressMinutes",
          "deliveryChannels"
        ],
        "properties": {
          "alertType": {
            "type": "string",
            "enum": [
              "POOL_USAGE_HIGH",
              "OUT_OF_PROFILE_SURGE",
              "SILENT_SIM",
              "UNEXPECTED_ROAMING",
              "CDR_DELAY",
              "UPSTREAM_DISCONNECT",
              "WEBHOOK_DELIVERY_FAILED"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "severity": {
            "type": "string",
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3"
            ]
          },
          "thresholdValue": {
            "type": "number",
            "nullable": true
          },
          "thresholdUnit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PERCENT",
              "KB",
              "MB",
              "GB",
              "HOURS",
              "MINUTES",
              "ATTEMPTS",
              "COUNT"
            ]
          },
          "windowMinutes": {
            "type": "integer",
            "nullable": true
          },
          "suppressMinutes": {
            "type": "integer",
            "minimum": 0
          },
          "deliveryChannels": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "enum": [
                "PORTAL",
                "WEBHOOK"
              ]
            }
          },
          "deliveryTargets": {
            "type": "object",
            "additionalProperties": true
          },
          "thresholdConfig": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AlertConfigItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AlertConfigItemRequest"
          },
          {
            "type": "object",
            "properties": {
              "itemId": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "profileId": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "version": {
                "type": "integer"
              },
              "source": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "ENTERPRISE",
                  "RESELLER",
                  "PLATFORM",
                  "BUILT_IN"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        ]
      },
      "AlertConfigProfile": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AlertConfigProfileSummary"
          },
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Full set of alert config items allowed for this profile scope.",
                "items": {
                  "$ref": "#/components/schemas/AlertConfigItem"
                }
              }
            }
          }
        ]
      },
      "AlertConfigProfileListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertConfigProfileSummary"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AlertConfigProfileRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "default": "ACTIVE"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "minItems": 1,
            "description": "Full set of alert config items for the requested scope. Enterprise profiles must not include reseller-level alert types such as CDR_DELAY, UPSTREAM_DISCONNECT, or WEBHOOK_DELIVERY_FAILED.",
            "items": {
              "$ref": "#/components/schemas/AlertConfigItemRequest"
            }
          }
        },
        "example": {
          "status": "ACTIVE",
          "name": "Reseller default alert profile",
          "description": "Full alert profile managed as one document.",
          "items": [
            {
              "alertType": "POOL_USAGE_HIGH",
              "enabled": true,
              "severity": "P2",
              "thresholdValue": 80,
              "thresholdUnit": "PERCENT",
              "windowMinutes": 60,
              "suppressMinutes": 60,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "OUT_OF_PROFILE_SURGE",
              "enabled": true,
              "severity": "P2",
              "thresholdValue": 20,
              "thresholdUnit": "PERCENT",
              "windowMinutes": 60,
              "suppressMinutes": 60,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "SILENT_SIM",
              "enabled": true,
              "severity": "P3",
              "thresholdValue": 4320,
              "thresholdUnit": "HOURS",
              "windowMinutes": 60,
              "suppressMinutes": 1440,
              "deliveryChannels": [
                "PORTAL"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "UNEXPECTED_ROAMING",
              "enabled": true,
              "severity": "P1",
              "thresholdValue": 20,
              "thresholdUnit": "MB",
              "windowMinutes": 60,
              "suppressMinutes": 60,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "CDR_DELAY",
              "enabled": true,
              "severity": "P1",
              "thresholdValue": 48,
              "thresholdUnit": "HOURS",
              "windowMinutes": 60,
              "suppressMinutes": 60,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "UPSTREAM_DISCONNECT",
              "enabled": true,
              "severity": "P1",
              "thresholdValue": 3,
              "thresholdUnit": "ATTEMPTS",
              "windowMinutes": 60,
              "suppressMinutes": 60,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            },
            {
              "alertType": "WEBHOOK_DELIVERY_FAILED",
              "enabled": true,
              "severity": "P2",
              "thresholdValue": 3,
              "thresholdUnit": "ATTEMPTS",
              "windowMinutes": 60,
              "suppressMinutes": 30,
              "deliveryChannels": [
                "PORTAL",
                "WEBHOOK"
              ],
              "deliveryTargets": {},
              "thresholdConfig": {}
            }
          ]
        }
      },
      "EventListItem": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ENTERPRISE tenants.tenant_id"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "RESELLER tenants.tenant_id (FR-058)"
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "jobId": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventListItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "EventCategoryCatalogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "webhook",
              "billing",
              "sim",
              "inbound",
              "subscription"
            ]
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EventCategoryCatalogResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCategoryCatalogItem"
            }
          }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "jobId": {
            "type": "string",
            "nullable": true
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "WebhookSubscriptionCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "secret",
          "eventType"
        ],
        "description": "Scheme A: one subscription = one HTTPS URL + exactly one outbound event type.\nPrefer **`eventType`**. The `eventTypes` array is accepted only as a one-element\ncompatibility alias and must not be sent together with a conflicting `eventType`.\n",
        "example": {
          "resellerId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "enterpriseId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "url": "https://customer.example.com/webhooks/sim-status",
          "secret": "whsec_example_shared_secret",
          "eventType": "SIM_STATUS_CHANGED",
          "enabled": true,
          "description": "SIM status callbacks for this enterprise"
        },
        "properties": {
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "RESELLER **`tenants.tenant_id`** (`tenant_type=RESELLER`). Blank/omitted is treated as not provided.\n- **reseller token**: optional; defaults to token `resellerId`; if provided must exist and match token scope.\n- **customer token**: optional; if omitted, inferred from the enterprise parent; if provided must match.\n- **platform/admin**: **required**; must exist.\n"
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ENTERPRISE **`tenants.tenant_id`**. Blank/omitted is treated as not provided.\n- **reseller token**: **required**; must exist and belong to the effective resellerId.\n- **customer token**: optional; defaults to token enterprise; if provided must match token.\n- **platform/admin**: **required**; must exist and belong to resellerId.\nReseller-level subscriptions (null enterpriseId) are not creatable via this API.\n"
          },
          "url": {
            "type": "string",
            "example": "https://customer.example.com/webhooks/sim-status"
          },
          "secret": {
            "type": "string",
            "example": "whsec_example_shared_secret"
          },
          "eventType": {
            "type": "string",
            "description": "Preferred singular event type for this subscription (exactly one URL per event type).",
            "enum": [
              "SIM_STATUS_CHANGED",
              "JOB_FINISHED",
              "SUBSCRIPTION_CHANGED",
              "BILL_PUBLISHED",
              "PAYMENT_CONFIRMED",
              "ALERT_TRIGGERED",
              "ENTERPRISE_STATUS_CHANGED"
            ],
            "example": "SIM_STATUS_CHANGED"
          },
          "eventTypes": {
            "type": "array",
            "deprecated": true,
            "minItems": 1,
            "maxItems": 1,
            "description": "Deprecated compatibility alias for `eventType`. Prefer `eventType`.\nIf used, must be a single-element array; do not send both fields unless they match.\n",
            "items": {
              "type": "string",
              "enum": [
                "SIM_STATUS_CHANGED",
                "JOB_FINISHED",
                "SUBSCRIPTION_CHANGED",
                "BILL_PUBLISHED",
                "PAYMENT_CONFIRMED",
                "ALERT_TRIGGERED",
                "ENTERPRISE_STATUS_CHANGED"
              ]
            }
          },
          "enabled": {
            "type": "boolean",
            "example": true
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "SIM status callbacks for this enterprise"
          }
        }
      },
      "OutboundWebhookEventCatalogItem": {
        "type": "object",
        "required": [
          "eventType",
          "displayName",
          "description"
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "enum": [
              "SIM_STATUS_CHANGED",
              "JOB_FINISHED",
              "SUBSCRIPTION_CHANGED",
              "BILL_PUBLISHED",
              "PAYMENT_CONFIRMED",
              "ALERT_TRIGGERED",
              "ENTERPRISE_STATUS_CHANGED"
            ]
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "OutboundWebhookEventsResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutboundWebhookEventCatalogItem"
            }
          }
        }
      },
      "WebhookSubscriptionUpdateRequest": {
        "type": "object",
        "description": "Partial update. Prefer **`eventType`** when changing the bound event type.\n`eventTypes` is a deprecated one-element compatibility alias.\n",
        "example": {
          "url": "https://customer.example.com/webhooks/sim-status-v2",
          "secret": "whsec_rotated_secret",
          "eventType": "SIM_STATUS_CHANGED",
          "enabled": true,
          "description": "Rotated endpoint for SIM status callbacks"
        },
        "properties": {
          "url": {
            "type": "string",
            "example": "https://customer.example.com/webhooks/sim-status-v2"
          },
          "secret": {
            "type": "string",
            "example": "whsec_rotated_secret"
          },
          "eventType": {
            "type": "string",
            "description": "Change the single bound event type (must not collide with another live subscription for the same scope).",
            "enum": [
              "SIM_STATUS_CHANGED",
              "JOB_FINISHED",
              "SUBSCRIPTION_CHANGED",
              "BILL_PUBLISHED",
              "PAYMENT_CONFIRMED",
              "ALERT_TRIGGERED",
              "ENTERPRISE_STATUS_CHANGED"
            ],
            "example": "SIM_STATUS_CHANGED"
          },
          "eventTypes": {
            "type": "array",
            "deprecated": true,
            "minItems": 1,
            "maxItems": 1,
            "description": "Deprecated compatibility alias for `eventType`. Prefer `eventType`.\nIf used, must be a single-element array; do not send both fields unless they match.\n",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean",
            "description": "Maps to status ACTIVE (true) / INACTIVE (false). Same pattern as upstream integrations.\nCannot set DEPRECATED via PATCH — use `POST .../{webhookId}:deprecate`.\n",
            "example": true
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Rotated endpoint for SIM status callbacks"
          }
        }
      },
      "WebhookSubscriptionResponse": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "resellerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "RESELLER **`tenants.tenant_id`** (always set for enterprise-scoped subscriptions via parent tenant)."
          },
          "enterpriseId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ENTERPRISE **`tenants.tenant_id`** when subscription is enterprise-scoped; null for reseller-level subscriptions."
          },
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "description": "The single outbound event type bound to this subscription URL (Scheme A)."
          },
          "eventTypes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Compatibility mirror of `[eventType]` (always length 1).",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "DEPRECATED"
            ],
            "description": "Live uniqueness (Scheme A): at most one ACTIVE/INACTIVE row per (`enterpriseId`|reseller-level `resellerId`) + `eventType`.\n`POST .../{webhookId}:deprecate` sets DEPRECATED.\n"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "deprecatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Set when the subscription is deprecated; null while live."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookSubscriptionListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookSubscriptionResponse"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total matching subscriptions for the applied filters (before pagination)."
          },
          "page": {
            "type": "integer",
            "description": "Current page (1-based)."
          },
          "pageSize": {
            "type": "integer",
            "description": "Page size used for this response."
          }
        }
      },
      "WebhookSubscriptionDeprecateResponse": {
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "deprecated": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DEPRECATED"
            ]
          },
          "deprecatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the deprecate operation was applied."
          }
        }
      },
      "WebhookDeliveryListItem": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "integer"
          },
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "attempt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "responseCode": {
            "type": "integer",
            "nullable": true
          },
          "responseBody": {
            "type": "string",
            "nullable": true
          },
          "nextRetryAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookDeliveryListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDeliveryListItem"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total matching deliveries (before pagination)."
          },
          "page": {
            "type": "integer",
            "description": "Current page (1-based)."
          },
          "pageSize": {
            "type": "integer",
            "description": "Page size used for this response."
          }
        }
      },
      "WebhookRetryResponse": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AuditLogItem": {
        "type": "object",
        "properties": {
          "auditId": {
            "type": "integer"
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "actorEmail": {
            "type": "string",
            "nullable": true,
            "description": "Resolved from users.email by actorUserId when available; not stored on audit_logs."
          },
          "actorLabel": {
            "type": "string",
            "description": "Human-friendly actor display. Email when available, otherwise actorUserId or actorRole/SYSTEM."
          },
          "actorRole": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true,
            "description": "Raw audit_logs.tenant_id (reseller or enterprise UUID as stored). Not a query filter alias."
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "sourceIp": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdminAuditLogListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLogItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "AuditLogDetailResponse": {
        "type": "object",
        "properties": {
          "auditId": {
            "type": "string"
          },
          "actorUserId": {
            "type": "string",
            "nullable": true
          },
          "actorRole": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "sourceIp": {
            "type": "string",
            "nullable": true
          },
          "afterData": {
            "type": "object"
          }
        }
      },
      "JobProgress": {
        "type": "object",
        "properties": {
          "processed": {
            "type": "integer",
            "format": "int64"
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
[...]
